<form [formGroup]="addBook" (ngSubmit) = 'onSubmit(addBook)' (click)="onChildClickFunction($event)">
    <label>
      Title:
      <input type="text" formControlName="title" [style.border]="title.valid ? '2px solid green' : '2px solid red'">
    </label>
    <div class="error" *ngIf="title.invalid && (title.dirty || title.touched)">Letters only</div>
    <label>
      Genre:
      <input type="text" formControlName="genre" [style.border]="genre.valid ? '2px solid green' : '2px solid red'">
    </label>
    <div class="error" *ngIf="genre.invalid && (genre.dirty || genre.touched)">Letters only</div>
    <input type="submit" value='Add book' class='a_b_s' [disabled] = 'addBook.status == "INVALID"'>
</form>
