.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 42px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.success{
    position: absolute;
    top:0;
    right: 0;
    background-color: green;
    transform: translateX(150%);
}
.success.show{
    animation: popin 5s;
}
@keyframes popin{
    0%{transform: translateX(150%)}
    10%{transform: translateX(0%)}
    80%{transform: translateX(0%)}
    100%{transform: translateX(150%)}
}
form{
    width: 350px;
    margin: 0 auto;
    align-self: center;
    background-color: white;
    z-index: 1;
    padding: 10px;
}
label{
    display: flex;
    flex-direction: column;
}
.submit{
    background-color: var(--clr-main);
    width: 100%;
    color: white;
    border:none;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    margin-top: 5px;
}
.error{
    font-size: 12px;
    color:red;
    font-style: italic;
}
.alive{
    display: flex;
    flex-direction: row;
}
.alive input{
    align-self: center;
    margin-left: 3px;
}
input[disabled]{
    background-color: gray;
    cursor: not-allowed
}