/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andika New Basic', sans-serif;

}
:root{
    --clr-main: darkred;
    --clr-main-light:rgba(148, 0, 0, 0.459);
}
input:focus{
    outline: none;
}